body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #2c4f7c;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.logo span {
    margin-left: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
}

.btn {
    background: #1e73e8;
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #155ec0;
}
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: white;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.search-box {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}

.search-box input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 6px 0 0 6px;
    font-size: 16px;
}

.search-box button {
    padding: 12px 20px;
    border: none;
    background-color: #1e73e8;
    color: white;
    font-weight: bold;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover {
    background-color: #155ec0;
}
